<h2> Top catches </h2>

<%unless @catches.take.present? %>
  <p>No info</p>
<% else%>
  <h2>Top 5 catches by weight</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Weight</th>
        <th>Date</th>
        <th>Place</th>
        <th>Author</th>
      </tr>
    </thead>

    <tbody>
      <% @catches.order(weight: :desc).limit(5).each do |catch| %>
      <tr>
        <td><%=catch.name %></td>
        <td><%=catch.weight %></td>
        <td><%=catch.date %></td>
        <td><%=catch.place %></td>
        <td><%=catch.profile.to_s %></td>
      </tr>
      <%end %>

    </tbody>
  </table>
<%end %>